<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}">About Me</a></li>
            <li><a href="{{ site.baseurl }}/work">View My Work</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            <!-- <li><a href="#">How it works</a></li> -->
            <!-- <li><a href="{{ site.baseurl }}/blog">Blog</a></li> -->
            <!-- <li><a href="#">Terms</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
